@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(25deg, #16054a, #85c1e9);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(133, 193, 233, 0.8)),
    url('../img/background_desktop.jpg');
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}
.container {
  width: 100%;
  height: 100%;
  position: absolute;
}
#blurCanvasTop {
  left: 0%;
  top: 0%;
  position: absolute;
}
#blurCanvasBottom {
  left: 50%;
  top: 0;
  position: absolute;
}
.content {
  left: 15%;
  top: 20%;
  width: 70%;
  position: relative;
}
h1.title {
  color: white;
  font-size: 4vw;
  display: inline;
  font-weight: 500;
}
p.desc {
  position: relative;
  width: 100%;
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
  font-weight: 200;
  margin-bottom: 40px;
  margin-top: 20px;
}

#descDesktop2 {
  font-size: 17px;
  font-style: oblique;
}

button.lang {
  display: flex;
  background-color: transparent;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

ul {
  margin-top: 50px;
  padding-left: 0px;
}

#showcase {
  display: flex;
  flex-direction: column;
}

#showcase li {
  margin-top: 30px;
}

#descMobile,
#descMobile2 {
  display: none;
}

.showcaseItem {
  margin-left: 20px;
}

.contact li {
  display: inline;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 100;
  font-size: 17px;
}
.contact li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.contact li a:hover {
  color: rgba(255, 255, 255, 1);
}
.contact li ~ li {
  margin-left: 1vw;
}
.blur {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.blurTop {
  left: 40%;
  top: -110%;
  transform: rotate(20deg);
  transform-origin: 0 100%;
}
.blurBottom {
  left: -60%;
  top: 100%;
  transform: rotate(20deg);
  transform-origin: 100% 0%;
}

#mail {
  border: none;
  color: #e5e8e8;
  margin-top: -1px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

a {
  color: #e5e8e8;
  text-decoration: none;
}
a:visited {
  color: #e5e8e8;
}
a:hover {
  color: #e5e8e8;
}
a:active {
  color: #e5e8e8;
}
